
 @media only screen and (min-width: 1108px) {
   .wrapper {
      width: 90%;
    }
    
  .social { width: 82px; }
  }

body {
  width: 85%;
}
 
@media only screen and (min-width: 1108px) {
  .social { width: 72px; }
}